.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 8rem;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999999999;
    background-image: linear-gradient(to right bottom, $color-primary-dark-4 , $color-primary-dark-5 );
}