@import "../abstracts/variables";
@import '../base/animations';


.header {
    /* PAGES THAT ARE NOT HOME */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    z-index: 50;
    position: absolute;
    background-color: transparent;
    top: 0;
    padding-top: 2rem;

    &__logo {

        &-img {
            width: 35vw;
            -webkit-filter: drop-shadow(0 5px 5px rgba(rgb(0, 0, 0), .7));
            filter: drop-shadow(0 5px 5px rgba(rgb(0, 0, 0), .7)); 
        }
    }

    & > .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0rem 1rem;
        text-transform: uppercase;
        .btn--nav {
            &:link,
            &:visited {
              color: #fff;
              background-color: inherit;
              padding: .3rem .5rem;
              margin: 1.3rem;
              text-shadow: 0 .25rem .6rem rgb(50, 50, 50);
              font-size: 1.5rem;
              text-transform: uppercase;
              letter-spacing: -1px;
              color: #eee;
        
              // display: block;
            //   animation: moveInBottom 2s ease;
            }
        }
    }

    /* ONLY FOR HOME PAGE */
    &--home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 50;
        position: absolute;
        top: 0;
        width: 100%;   
        top: 0;
        * > .header__logo {
            margin-bottom: 0;
            padding-left: 1.2rem;
            padding-right: 1.2rem;
    
            &-img {
                text-shadow: .6rem;
                width: 50vw;
                -webkit-filter: drop-shadow(0 5px 5px rgba(rgb(0, 0, 0), .7));
                filter:         drop-shadow(0 5px 5px rgba(rgb(0, 0, 0), .7)); 
                // animation: moveInBottom 2s ease;
            }
        }

        & > .navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: .3rem .5rem;
            margin: .7rem;
            text-transform: uppercase;
            .btn--nav {
                &:link,
                &:visited {
                  color: #fff;
                  background-color: inherit;
                  padding: .6rem 1.2rem;
                  margin: .6rem;
                  text-shadow: 0 .3rem .6rem rgb(50, 50, 50);
                  font-size: 5rem;
                  text-transform: uppercase;
                  letter-spacing: 3px;
                  color: #eee;
            
                  // display: block;
                //   animation: moveInBottom 2s ease;
                }
            }
        }   
    }
}
