@import "../abstracts/variables";
@import '../base/animations';


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 50;
    position: absolute;
    background-color: transparent;
    top: 0;
    padding-top: 1rem;
    transition: all .3s;
    overflow: hidden;


    &__logo {

        &-img {
            width: 26vw;
            -webkit-filter: drop-shadow(0 5px 5px rgba(rgb(0, 0, 0), .7));
            filter: drop-shadow(0 5px 5px rgba(rgb(0, 0, 0), .7)); 

            @media only screen and (max-width: 700px) {
                width: 85vw;
            }
        }
    }

    & > .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        // padding: 0rem 1rem;
        text-transform: uppercase;
        transition: all .3s;

        @media only screen and (max-width: 700px) {
            display: none;
        }

        .btn--nav {
            &:link,
            &:visited {
              background-color: inherit;
              padding: .3rem .5rem;
              margin: 1.3rem;
              text-shadow: 0 .25rem .6rem rgb(50, 50, 50);
              text-decoration: none;
              font-size: 2rem;
              text-transform: uppercase;
              letter-spacing: 2px;
              color: #eee;
              transition: all .3s;
    
              &:hover {
                transform: scale(1.05);
              }
            }
        }
    }

    &_mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        z-index: 9999;
        position: absolute;
        background-color: transparent;
        top: 0;
        padding-top: 1rem;
        transition: all .3s;
        // overflow: hidden;

        & >.u-translate-x-0 {
            transform: translateX(0);
        }
        
        & > .u-translate-x-30 {
            transform: translateX(30rem);
        }

        & > .navigation {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 0rem 1rem;
            border-left: solid 1px rgba(lightgray, .1);
            text-transform: uppercase;
            transition: all .3s;
            position: fixed;
            height: 100vh;
            width: 70vw;
            top: 0;
            right: 0;
            // transform: translateX(30rem);
            // border: solid 1px tomato;
            background-image: linear-gradient(to right bottom, rgba(rgb(4, 4, 4), 1), rgba(rgb(45, 45, 45), 1));

            .btn--nav {
                &:link,
                &:visited {
                  background-color: inherit;
                  padding: .3rem .5rem;
                  margin: 1.3rem;
                  text-shadow: 0 .25rem .6rem rgb(50, 50, 50);
                  font-size: 3rem;
                  text-transform: uppercase;
                  letter-spacing: -1px;
                  color: #eee;
                  transition: all .3s;
                  text-decoration: none;
            
                  &:hover {
                    transform: scale(1.05);
                  }
                }
            }
        }

        .container {
            display: inline-block;
            cursor: pointer;
            z-index: 999999;
            padding-right: .7rem;
        }

        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: rgb(234, 234, 234);
            margin: 6px 0;
            transition: 0.4s;
          }
          
          .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
          }
          
          .change .bar2 {opacity: 0;}
          
          .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
    
    }
}