.main {
  // padding: 3rem 2rem;
  // padding-top: 12rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 150vh;
  background-image: linear-gradient(to right bottom, $color-grey-light-2, $color-grey-light);
}

