.main {
  // padding: 3rem 2rem;
  padding-top: 12rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 150vh;
  // TODO
  background-image: linear-gradient(to right bottom, rgba(black, .6), rgba(black, .6)), url(../../public/fondo.jpg);
  background-size: cover;
  background-position: top;
  background-position-y: 22rem;
}

