@import '../abstracts/variables';

.home {
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &__background--img {
      height: 45%;
      width: 100vw;
      top: 0;
      z-index: 20;
      animation: fadeIn 1s;
      // animation-iteration-count: infinite;
  }
}

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;

  .hr {
    margin: 3rem;
  }
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


