@import '../abstracts/variables';

.home-page {
    min-height: 200vh;
    // padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main {
      // transform: translateY(100rem);
    }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
