@import '../abstracts/variables';

.music-page {
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.cards__container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem 3rem;

    // background-image: linear-gradient(to left bottom, $color-primary-light-4);
    background-color: $color-primary-light-5;
    margin: 1rem;
    margin-top: 3rem;
    width: 100%;
    min-height: 150vh;
    border-radius: 3px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
