@import '../abstracts/variables';

.music-page {
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    position: relative;
}

.cards__container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;

    margin: 1rem;
    margin-top: 3rem;
    width: 80%;
    min-height: 150vh;
    border-radius: 3px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
