.tour-page {
  position: relative;
}

.events {
  padding: 5rem;

  @media only screen and (max-width: 700px) {
    padding: 1rem;
  }
}

.c-dates-message {
  font-family: 'Bebas Neue';
  text-align: center;
  color: white;
  font-size: 4rem;
  letter-spacing: 3px;
}