.tour-page {
  position: relative;
}

.events {
  padding: 5rem;

  @media only screen and (max-width: 700px) {
    padding: 1rem;
  }
}

.c-dates-message {
  font-family: 'Bebas Neue';
  text-align: center;
  color: white;
  font-size: 5em;
  letter-spacing: 3px;
  -webkit-text-stroke: 1px rgba(rgb(150, 144, 73), 1);
  -webkit-text-fill-color: white;
}