
$color-primary: #FF1FFF;
$color-primary-light: #ff57ff;
$color-primary-light-2: #ff83ff;
$color-primary-light-3: #ffbdff;
$color-primary-light-4: #ffdaff;
$color-primary-light-5: #ffebff;
$color-primary-dark: #c51dc5;
$color-primary-dark-2: #941794;
$color-primary-dark-3: #680f68;
$color-primary-dark-4: #380938;
$color-primary-dark-5: #1b041b;

$color-grey-light: #eee;
$color-grey-light-2: rgba(233, 233, 233);
$color-grey-light-3: rgba(207, 207, 207);

$color-grey-dark: rgba(133, 133, 133);
$color-grey-dark-2: rgba(95, 95, 95);
$color-grey-dark-3: rgba(59, 59, 59);
$color-grey-dark-4: rgba(29, 29, 29);