
$color-primary: rgb(172, 121, 63);
$color-primary-light: rgb(180, 149, 113);
$color-primary-dark: rgb(182, 120, 50);

$color-grey-light: #eee;
$color-grey-light-2: rgb(233, 233, 233);
$color-grey-light-3: rgb(207, 207, 207);

$color-grey-dark: rgb(133, 133, 133);
$color-grey-dark-2: rgb(95, 95, 95);
$color-grey-dark-3: rgb(59, 59, 59);
$color-grey-dark-4: rgb(29, 29, 29);