@import "../abstracts/variables";
@import '../base/animations';

.btn {
  &:link,
  &:visited {
    text-decoration: none;
    transition: all 0.2s;
    color: $color-grey-dark-4;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
   
  }
  &--nav {
    &:link,
    &:visited {
      color: #fff;
      background-color: inherit;
      padding: 2rem 2.5rem;
      margin: 1rem;

      animation: moveInBottom 1s;
    }
    
    &:hover {
      color: $color-primary-dark-2;
      transform: scale(1.05);
    }
  }
}