@import "../abstracts/variables";

.btn {
  &:link,
  &:visited {
    text-decoration: none;
    transition: all 0.2s;
    color: $color-grey-dark-4;
   
  }
  &--nav {
    &:link,
    &:visited {
      color: #fff;
      background-color: inherit;
      padding: 2rem 2.5rem;
      margin: 1rem;
    }
    
    &:hover {
      color: $color-primary;
      transform: scale(1.05);
    }
  }
}
