@import "../abstracts/variables";
@import '../base/animations';

.btn {
  &:link,
  &:visited {
    text-decoration: none;
    transition: all 0.2s;
    color: $color-grey-dark-4;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 300;

   
  }
  &--nav {
    &:link,
    &:visited {
      color: #fff;
      background-color: inherit;
      padding: 1rem 2rem;
      margin: 1rem;
      text-shadow: 0 .5rem 1rem black;

      // display: block;
      // animation: moveInBottom .5s ease;
    }
    
    &:hover {
      color: $color-primary-dark-2;
      transform: scale(1.05);
    }
  }
}