@import "../abstracts/variables";

.icon {
  fill: greenyellow;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 1.5rem;
  text-transform: uppercase;
}
