@import '../abstracts/variables';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 2rem 4rem;
  border-radius: 2px;
  padding: .5rem;
  transition: all .2s ease-in;

  z-index: 100;
  background-color: $color-grey-dark-4;
  box-shadow: 0 1rem 2rem rgba(0,  0, 0, .3);
  position: relative;

  &:hover,
  &:focus {
    transform: scale(1.3);
    z-index: 99;
    box-shadow: 0 1rem 2rem rgba(0,  0, 0, .6);
  }

  &:hover > &:not(:hover) {
    transform: scale(90%);
  }

  &:hover .undercard {
    transform: translateY(99.2%);
    box-shadow: 0 1rem 2rem rgba(0,  0, 0, .3);
    // width: 150%;
    // height: 110%;
    // left: -25%;
    border: solid 1px $color-primary-light-5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__hero {
    &__img {
      width: 25rem;
      height: 25rem;
    }
  }
}



.undercard{
  font-size: 1.6rem;

  padding: 2rem 3rem;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, $color-grey-dark-4 95%, $color-grey-dark-3 98%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  z-index: -1;

  &__info-container {
    color: #fff;
  }

  &__info {
    
    &--container {
      color: #fff;
    }

    &--name {

    }

    &--artist {

    }
  }

  &__urls--container {

  }

  &__url {
    &--container {
      color: #fff;
    }

    &--icon {

    }

    &--url {

    }

    &--link {

    }
  }
}