* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.heading {

  &--secondary {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #eee;
  }
}