* {
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  //   sans-serif;
  font-family: 'Bebas Neue', cursive;
}

.heading {

  &__tertiary {
    font-size: 1.3rem;
    color: white;
  }
}