@import './base/base';

@import "./pages/home";
@import "./pages/music";

@import "./components/navbar";
@import "./components/slider";
@import "./components/songcard";
@import "./components/button";

@import './layout/header';
@import './layout/main';
@import './layout/footer';