@import './base/base';
@import './base/typography';
@import './base/animations';

@import "./pages/home";
@import "./pages/music";
@import "./pages/tour";

@import "./components/slider";
@import "./components/button";
@import "./components/subscription";
@import "./components/tour_event";

@import './layout/header';
@import './layout/main';
@import './layout/footer';